<!DOCTYPE html>
<html>
  <head>
    <title>BookersReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main style="height: 600px;">
      <%= yield %>
    </main>
    <footer>
      <% if user_signed_in? %>
        <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    </footer>
  </body>
</html>
